# boring defaults for boring people

# window
width  = 800
height = 600
title  = "Terminal"
alpha  = 1.0

# terminal
shell        = "/usr/bin/bash"
font         = "monospace 15"

cell_width   = 1.0
cell_height  = 1.0

bright_bold  = true
hide_cursor  = true
blink_cursor = false

# normal colors
color0  = "#000"
color1  = "#800"
color2  = "#080"
color3  = "#880"
color4  = "#008"
color5  = "#808"
color6  = "#088"
color7  = "#ccc"

# bright colors
color8  = "#888"
color9  = "#f00"
color10 = "#0f0"
color11 = "#ff0"
color12 = "#00f"
color13 = "#f0f"
color14 = "#0ff"
color15 = "#fff"
